
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<a class="btn btn-danger" asp-action="index" asp-controller="home">Home</a>

<a class="btn btn-dark" asp-action="cadastrar" asp-controller="padaria">Cadastro de Padaria</a>
